$color-primary-background: #151515
$color-secondary-background: #1B1B1B
$color-third-background: #252525

$color-primary-text: #D8D8D8
$color-secondary-text: #3B3B3B

$color-green: #1A7E18
$color-red: #7E182C
