@import "./../../../sass/variables"

.dashboard
    width: 100vw
    height: 100vh
    padding: 12px
    box-sizing: border-box

.actions
    display: grid
    grid-template-columns: repeat(2, 1fr)
    gap: 8px

.motors
    display: grid
    grid-template-columns: repeat(4, 1fr)
    gap: 12px

.camera
    min-width: 300px
    position: relative

    &Label
        padding: 3px 6px
        background-color: $color-third-background

    &Text
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
