@import "./../../../sass/variables"

$width: 40px
$top-padding: 30px
$bottom-padding: 30px
$left-padding: 100px
$right-padding: 100px
$leds-offset: 32px

.drone
    display: inline-block
    align-self: center
    position: relative
    width: 290px + $left-padding + $right-padding
    height: 290px + $top-padding + $bottom-padding

    &Top
        position: absolute
        background-color: $color-third-background
        height: $width
        top: $top-padding
        left: $left-padding
        right: $right-padding

    &Center
        position: absolute
        background-color: $color-third-background
        top: $top-padding
        bottom: $bottom-padding
        width: $width
        left: 50%
        transform: translateX(-50%)

    &Bottom
        position: absolute
        background-color: $color-third-background
        height: $width
        bottom: $bottom-padding
        left: $left-padding
        right: $right-padding

.led
    position: absolute
    border-radius: 50%
    height: $width / 3
    width: $width / 3
    background-color: $color-fourth-background

    &A
        top: $width / 2 + $top-padding
        left: $width / 2 + $leds-offset + $left-padding
        transform: translate(-50%, -50%)

    &B
        top: $width / 2 + $top-padding
        right: $width / 2 + $leds-offset + $right-padding
        transform: translate(50%, -50%)

    &C
        bottom: $width / 2 + $bottom-padding
        left: $width / 2 + $leds-offset + $left-padding
        transform: translate(-50%, 50%)

    &D
        bottom: $width / 2 + $bottom-padding
        right: $width / 2 + $leds-offset + $right-padding
        transform: translate(50%, 50%)

$motor-size: $width / 1.7

.motor
    position: absolute
    border-radius: 50%
    height: $motor-size
    width: $motor-size
    background-color: $color-fourth-background
    // ENABLE MOTORS SPIN:
    // animation: motor-spin 0.3s linear infinite

    &::before, &::after
        content: ''
        background-color: $color-third-background
        position: absolute
        display: inline-block
        height: 6px
        width: 6px
        border-radius: 50%
        z-index: 5

    &::before
        top: 4px
        left: 4px

    &::after
        right: 4px
        bottom: 4px

    &A
        top: $width / 2 + $top-padding - ($motor-size / 2)
        left: $width / 2 + $left-padding - ($motor-size / 2)

    &B
        top: $width / 2 + $top-padding - ($motor-size / 2)
        right: $width / 2 + $right-padding - ($motor-size / 2)

    &C
        bottom: $width / 2 + $bottom-padding - ($motor-size / 2)
        left: $width / 2 + $left-padding - ($motor-size / 2)

    &D
        bottom: $width / 2 + $bottom-padding - ($motor-size / 2)
        right: $width / 2 + $right-padding - ($motor-size / 2)

    &Label
        position: absolute
        white-space: nowrap
        &A
            top: $width
            left: 0
        &B
            top: $width
            right: 0
        &C
            bottom: $width
            left: 0
        &D
            bottom: $width
            right: 0

.label
    position: absolute
    white-space: nowrap
    &A
        top: 0
        left: $width / 3 + $leds-offset + $left-padding
    &B
        top: 0
        right: $width / 3 + $leds-offset + $right-padding
    &C
        bottom: 0
        left: $width / 3 + $leds-offset + $left-padding
    &D
        bottom: 0
        right: $width / 3 + $leds-offset + $right-padding

.board
    position: absolute
    background-color: $color-fourth-background
    width: $width - 8px
    transform: translate(-50%, -50%)
    left: 50%
    top: 50%
    height: 50px

    &Label
        transform: translate(-50%, -50%)
        left: calc(50% + 70px)
        top: 50%

.battery
    position: absolute
    background-color: $color-fourth-background
    width: $width - 8px
    transform: translate(-50%, -50%)
    left: 50%
    top: calc(50% + 45px)
    height: 30px

    &Label
        transform: translate(-50%, -50%)
        left: calc(50% + 70px)
        top: calc(50% + 45px)
.dot
    display: inline-block
    width: 10px
    height: 10px
    border-radius: 50%
    margin-left: 8px

@keyframes motor-spin
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)
